<div class="logo" (click)="toRoot()"></div>
<button class="catalog" (click)="toCategories()">Каталог Товаров</button>
<div class="serch">
  <div class="serch-icon">o</div>
  <div class="serch-input"></div>
  <div class="serch-cancel">х</div>
</div>
<div ngDropdown [renderInPlace]="true" horizontalPosition="center">
  <button ngDropdownControl class="profile">
    <span class="profile-text">Аккаунт</span>
  </button>
  <div ngDropdownContent dropdownClass="slide-fade">
    <ul class="ul">
      <li class="dd-item"><div class="avatar"></div></li>
      <li class="dd-item">
        <button
          class="login-btn"
          *ngIf="(isLogin | async) === false; else logout"
          (click)="showHandler()"
        >
          Войти
        </button>
      </li>
      <li class="dd-item">
        <div class="item" (click)="toCart()">Корзина</div>
      </li>
      <li class="dd-item">
        <div class="featured item" (click)="toFavorite()">Избранные товары</div>
      </li>
      <li class="dd-item">
        <div class="viewed item" (click)="toWaitList()">Лист ожидания</div>
      </li>
      <li class="dd-item"><div class="compare item">список сравнения</div></li>
      <ng-template #logout>
        <button class="login-btn" (click)="logoutHandler()">Выйти</button>
      </ng-template>
    </ul>
  </div>
</div>
<app-profile *ngIf="showProfile"></app-profile>
<button class="cart" (click)="toCart()">Корзина</button>
