@import "/src/variables.scss";

:host {
  display: flex;
  align-items: center;
  padding: 24px 0;
  justify-content: space-around;
  max-width: 1090px;
  margin: 0 auto;
}

.catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  min-width: 119px;
  border: $button-border;
  margin: 0 10px;
  border-radius: 80px;
  font-family: $alter-font-family;
}

.serch {
  display: flex;
  align-items: center;
  height: 42px;
  min-width: 200px;
  border: $button-border;
  margin: 0 10px;
  border-radius: 80px;
}

.profile,
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 119px;
  height: 42px;
  border-radius: 80px;
  position: relative;
  background: transparent;
  transition: 0.2s ease;
  font-family: $alter-font-family;
  border: $button-border;
  margin-right: 10px;
}

.profile-text {
  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url("../../../../../assets/accaunt.svg");
    width: 20px;
    height: 20px;
  }
}
