<div class="wrapper">
  <div class="address item">Адрес: {{ order.address }}</div>
  <div class="priсe item">Цена: {{ price }} р.</div>
  <div class="number item">Номер заказа: {{ order.id | slice: 0:6 }}</div>
  <div ngDropdown [renderInPlace]="true" [horizontalPosition]="'center'">
    <button ngDropdownControl class="dropdown">Продукты&#9660;</button>
    <div ngDropdownContent dropdownClass="slide-fade">
      <ul class="ul">
        <li class="dd-item" *ngFor="let item of order.products">
          <div class="name">
            {{ item.name }}
          </div>
          <div class="amount">{{ item.amount }} шт.</div>
          <div class="price">{{ (item.amount || 1) * item.price }} р.</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="cancel btn" (click)="deleteOrder()">Отмена</button>
    <button class="edit btn" (click)="editOrder()">Ред.</button>
  </div>
</div>
