<p class="title">Описание возможностей и преимуществ приложения</p>
<p class="message">
  Данное приложение - это интернет магазин с возможностью просмотра и заказа
  товаров. дизайн у него так-себе, зато функционал почти весь реализован. В
  приложении есть возможность просматривать товары по категориям, добавлять их в
  избранное и корзину. Оформлять заказ и следить за историей своих заказов. А
  также редактировать и удалять ранее сделанные заказы. Преимуществ над
  аналогами у него по сути нет. Ниже приведено видео с демонстрацией работы
  приложения.
</p>
