<div class="contacts_wrapper">
  <div class="more-item" value="viber">viber</div>
  <div class="more-item" value="a1">a1 phone</div>
  <div class="more-item" value="life">life phone</div>
  <div class="more-item" value="sity">sity</div>
  <div class="more-item" value="tg">tg</div>
  <div class="more-item" value="mail">mail</div>
  <div class="more-item" value="back-phone">back-phone</div>
  <div class="more-item" value="write">write</div>
  <div class="more-item" value="contacts">контакты</div>
</div>
<div class="social">
  <div class="social-item">vk</div>
  <div class="social-item">fb</div>
  <div class="social-item">insta</div>
  <div class="social-item">youtube</div>
  <div class="social-item">ok</div>
</div>
