<div class="contacts_wrapper">
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico viber"></div>
      <div class="more-item" value="viber">Viber</div>
    </div>
  </div>
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico a1"></div>
      <div class="more-item" value="a1">+375-29-666-66-66</div>
    </div>
  </div>
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico life"></div>
      <div class="more-item" value="life">+375 25 555-55-55</div>
    </div>
  </div>
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico sity"></div>
      <div class="more-item" value="sity">+375 17 555-55-55</div>
    </div>
  </div>
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico tg"></div>
      <div class="more-item" value="tg">@shop</div>
    </div>
  </div>
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico mail"></div>
      <div class="more-item" value="mail">shop@shop.shop</div>
    </div>
  </div>
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico call"></div>
      <div class="more-item" value="back-phone">Заказать звонок</div>
    </div>
  </div>
  <div class="dd-item">
    <div class="item-wrapper" (click)="toLink()">
      <div class="item-ico write"></div>
      <div class="more-item" value="write">Написать нам</div>
    </div>
  </div>
</div>
<div class="social">
  <a href="https://vk.com"> <div class="social-item vk"></div></a>

  <a href=" https://www.facebook.com/"> <div class="social-item fb"></div></a>
  <a href="https://www.instagram.com/">
    <div class="social-item insta"></div
  ></a>
  <a href="https://www.youtube.com/">
    <div class="social-item youtube"></div
  ></a>
  <a href="https://ok.ru/"> <div class="social-item ok"></div></a>
</div>
