$base-font-family: arial,sans-serif;
$icon-viber-fill-color: #7c53a6;
$gray-color:#909399;
$white-color:#ffffff;
$gradient:linear-gradient(90deg, #941e94, #e52e6b);
$alter-font-family:"Helvetica", sans-serif;
$button-border: 1px solid rgba(213, 215, 219, 0.6);
$blue-color:#0077cc;

