@import "/src/variables.scss";


:host {
  position: absolute;
  top: 45px;
  //border: 1px solid black;
  min-width: 224px;
  padding: 12px 0;
  border-radius: 6px;
  font-family: $alter-font-family;
  box-shadow: 0 4px 12px 0 rgb(41 44 51 / 12%), 0 2px 2px 0 rgb(41 44 51 / 4%);
  z-index: 15;
}

.profile-wrapper {
  position: relative;
}

.cart {
  padding: 10px 0;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url("../../../../../../assets/cart.svg");
    width: 20px;
    height: 20px;
  }
}
