<div class="profile-wrapper">
  <div class="avatar"></div>
  <button
    class="login-btn"
    *ngIf="(isLogin | async) === false; else logout"
    (click)="showHandler()"
  >
    Войти
  </button>
  <div class="cart" (click)="toCart()">Корзина</div>
  <div class="featured item" (click)="toFavorite()">Избранные товары</div>
  <div class="wieved item)" (click)="toWaitList()">Просмотренные</div>
  <div class="compare item">список сравнения</div>
</div>

<ng-template #logout>
  <button class="login-btn" (click)="logoutHandler()">Выйти</button>
</ng-template>
